@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Joel's Movie List";
}

@model IEnumerable<Movie>

<div style="width:80%;text-align:center">
    <h2> @ViewBag.Title</h2>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table-striped w-100 m-3">
                <thead class="thead-dark">
                    <tr>
                        <th class="d-md-table-cell col-md-3">Category</th>
                        <th class="d-md-table-cell col-md-3">Title</th>
                        <th class="d-md-table-cell col-md-3">Year</th>
                        <th class="d-md-table-cell col-md-3">Director</th>
                        <th class="d-md-table-cell col-md-3">Rating</th>
                        <th class="d-md-table-cell col-md-3">Edited</th>
                        <th class="d-md-table-cell col-md-3">Lent To</th>
                        <th class="d-md-table-cell col-md-3">Notes</th>
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Movie x in Model)
                    {
                        <tr>
                            <td class="col-md-3">@x.Category</td>
                            <td class="col-md-3">@x.Title</td>
                            <td class="col-md-3">@x.Year</td>
                            <td class="col-md-3">@x.Director</td>
                            <td class="col-md-3">@x.Rating</td>
                            <td class="col-md-3">@x.Edited</td>
                            <td class="col-md-3">@x.LentTo</td>
                            <td class="col-md-3">@x.Notes</td>
                            <td><form asp-action="EditForm"><input hidden name="movieID" id="movieID" value="@x.MovieId" /><input type="submit" value="Edit" class="shadow" /></form></td>
                            <td>
                                <form asp-action="DeleteMovie">
                                    <input hidden name="movieID" id="movieID" value="@x.MovieId" />
                                    <input type="submit" value="Delete" class="shadow" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>